<style>
          
    #titulo {
      font-size: 50px; color: orange; text-align: center;
    }
    ul {
      background-color:goldenrod; text-decoration:underline;
    }
    .favorita {
      background-color: darkblue;
    }
    h1 {
      font-family: sans-serif; line-height: 60px;
    }
    p {
      font-weight: 600 ; font-size: 48px; font-style:oblique;}
    body {
      font-size: 16px;
    }
    #amarelo {
      color: yellow;
    }
    #vermelho {
      color: red;
    }
    #marrom {
      color: brown;
    }
    </style>
